<p-panel class="no-border">
  <ng-template pTemplate="header" class="no-border">
    <div class="flex align-items-center" style="color: cadetblue;">
      <span class="font-bold">
                Emails
      </span>
    </div>
  </ng-template>
  <section fxFlexFill fxLayout="column" style="padding: 10px 0 10px 0">
    @if (emails.length > 0) {
      @for (item of emails; track item.adresse) {
        <div fxFlexFill fxLayout="row">
          <div fxFlex>
            <label for="nom">{{ item.type }} </label>
            <input
              pInputText
              id="nom"
              [ngModel]="item.adresse"/>
          </div>
        </div>
      } @empty {
        <H1> There are no items.</H1>
      }
    }
  </section>
</p-panel>
