<div class="flex flex-column pt-3">
  <div class="flex align-items-center justify-content-left gap-2" style="color: cadetblue;">
    <!-- titre -->
    <span class="font-bold">
    Emails
    </span>
  </div>
  <div class="flex flex-column">
    @if (emails.length > 0) {
      @for (item of emails; track $index) {
        <p-floatLabel class="pt-4">
          <input
            pInputText
            id="numero"
            [ngModel]="item.adresse"/>
          <label for="numero">{{ item.type }}</label>
        </p-floatLabel>
      }
    }
  </div>
</div>

