<div class="flex flex-column pt-3">
  <div class="flex align-items-center justify-content-left gap-2" style="color: cadetblue;">
    <!-- titre -->
    <span class="font-bold">
                Civilité
      </span>
  </div>
  <div class="flex overflow-hidden">
    <div class="field w-full pt-4 pr-4">
      <p-selectButton [ngModel]="personne.genre" [options]="stateOptions"></p-selectButton>
    </div>
    <div class="field w-full pt-4 pr-4">
      <p-checkbox *ngIf="isParent" [ngModel]="personne.divorcer" binary="true"
                  label="Divorcé"></p-checkbox>
    </div>
  </div>
  <div class="flex overflow-hidden">
    <div class="field w-full pt-4 pr-4">
      <p-floatLabel>
        <input
          id="nom"
          class="w-full"
          [formControl]="nom"
          pInputText/>
        <label for="nom">Nom </label>
      </p-floatLabel>
    </div>
    <div class="field w-full pt-4 pr-4">
      <p-floatLabel>
        <input
          id="prenom"
          class="w-full"
          [formControl]="prenom"
          pInputText/>
        <label for="prenom">Prénom </label>
      </p-floatLabel>
    </div>
  </div>
  <div class="flex flex-row pt-4">
    <p-floatLabel>
      <p-calendar [maxDate]="maxDate"
                  [ngModel]="personne.dateNaissance" [showIcon]="true"
                  dateFormat="dd/mm/yy"
                  id="dateNaiss"></p-calendar>
      <label for="dateNaiss">Date de naissance </label>
    </p-floatLabel>
  </div>
</div>
