<div class="flex flex-column pt-3" [formGroup]="civiliteForm">
  <div class="flex align-items-center justify-content-left gap-2" style="color: cadetblue;">
    <!-- titre -->
    <span class="font-bold">
                Civilité
      </span>
  </div>
  <div class="flex overflow-hidden">
    <div class="field w-full pt-4 pr-4">
      <p-selectButton formControlName="genre" [options]="stateOptions"></p-selectButton>
    </div>
    <div class="field w-full pt-4 pr-4">
      <p-checkbox *ngIf="isParent" formControlName="divorce" binary="true"
                  label="Divorcé"></p-checkbox>
    </div>
  </div>
  <div class="flex overflow-hidden">
    <div class="field w-full pt-4 pr-4">
      <p-floatLabel>
        <input
          id="nom"
          class="w-full"
          formControlName="nom"
          pInputText/>
        <label for="nom">Nom </label>
        @if (nom?.invalid) {
          <p-messages
            severity="error"
            [(value)]="messagesNom"
            [enableService]="false"
            [closable]="false"/>
          <div class="alert alert-danger" role="alert">
            Error
          </div>
        }
      </p-floatLabel>
    </div>
    <div class="field w-full pt-4 pr-4">
      <p-floatLabel>
        <input
          id="prenom"
          class="w-full"
          formControlName="prenom"
          pInputText/>
        <label for="prenom">Prénom </label>
      </p-floatLabel>
    </div>
  </div>
  <div class="flex flex-row pt-4">
    <p-floatLabel>
      <p-calendar [maxDate]="maxDate"
                  formControlName="dateNaissance" [showIcon]="true"
                  dateFormat="dd/mm/yy"
                  id="dateNaiss"></p-calendar>
      <label for="dateNaiss">Date de naissance </label>
    </p-floatLabel>
  </div>
</div>
