<mat-card class="no-border-panel-card">
  <mat-card-title class="border-title-panel-card-editor">Telephones</mat-card-title>
  <mat-card-content style="padding-bottom:0;">
    <section class="flex-column-p5">
      @if (telephones.length > 0) {
        @for (item of telephones; track item.numero) {
          <div fxLayout="row">
            <mat-form-field appearance="outline" fxFlex>
              <mat-label>{{ item.type }}</mat-label>
              <input [ngModel]="item.numero" matInput>
            </mat-form-field>
          </div>
        } @empty {
          <H1> There are no items.</H1>
        }
      }
    </section>
  </mat-card-content>
</mat-card>
