<p-panel class="no-border">
  <ng-template pTemplate="header" class="no-border">
    <div class="flex align-items-center" style="color: cadetblue;">
      <span class="font-bold">
                Télèphones
      </span>
    </div>
  </ng-template>
  <section class="flex column">
    @if (telephones.length > 0) {
      @for (item of telephones; track item.numero) {

        <p-floatLabel class="flex align-align-center">
          <input
            pInputText
            id="numero"
            [ngModel]="item.numero"/>
          <label for="numero">{{ item.type }}</label>
        </p-floatLabel>

      } @empty {
        <H1> There are no items.</H1>
      }
    }
  </section>
</p-panel>

