<app-toolbar></app-toolbar>
<router-outlet></router-outlet>
<!--<mat-drawer-container
  autosize
  [hasBackdrop]="mdcBackdrop">
  <mat-drawer #drawer fxFlex [mode]="drawerMode">
    <div class="sidenav-content">
      <mat-nav-list *ngFor="let item of sidebarItems$ | async; index as i">
        <a mat-list-item routerLink="{{item.link}}" routerLinkActive="active" (click)="drawer.toggle()">
        <mat-icon color="primary">{{item.icon}}</mat-icon></a>
        {{item.text}}
      </mat-nav-list>
    </div>
  </mat-drawer>
  <mat-drawer-content >
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>-->
