<app-toolbar [drawer]="drawer"></app-toolbar>
<mat-drawer-container
  autosize
  [hasBackdrop]="mdcBackdrop">
  <mat-drawer #drawer fxFlex [mode]="drawerMode">
    <div class="sidenav-content">
      <div class="drawerButton">
        <button
          (click)="drawer.toggle()"
          mat-flat-button
          routerLinkActive="mat-accent"
          color="primary"
          routerLink="home">Home
        </button>
      </div>
      <div class="drawerButton">
        <button
          (click)="drawer.toggle()"
          mat-flat-button
          routerLinkActive="mat-accent"
          color="primary"
          routerLink="content">Content
        </button>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content >
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
