@if (current$ | async; as enfant) {
  @if (enfant.parents) {
    <div class="flex overflow-hidden">
      @for (parent of enfant.parents; track $index) {
        <div class="flex-grow-1">
          <edit-component-personne [index]="$index" [parent]="parent"></edit-component-personne>
        </div>
      }
    </div>
    <div class="flex justify-content-center flex-wrap">
      <div class="flex align-items-center justify-content-center">
        <p-button
          severity="success"
          class="mat-padding-10"
          (onClick)="goToListEnfant(enfant)"
          text="true"
        >Enregistrer
        </p-button>
      </div>
      <div class="flex align-items-center justify-content-center">
        <p-button severity="danger"
                  class="mat-padding-10"
                  (onClick)="goToListEnfants()"
                  text="true"
        >Retour
        </p-button>
      </div>
    </div>
  }
}
