@if (current$ | async; as enfant) {
  @if (enfant.parents) {
    <section fxLayout="row">
      <div fxFlex fxLayout="column">
        <section fxFlex>
          <div class="centered-row">
            <div *ngFor="let parent of enfant.parents; let i = index" fxFlex>
              <card-parent-edit [index]="i" [parent]="parent"></card-parent-edit>
            </div>
          </div>
        </section>
        <section class="centered-row">
          <p-button
                  class="mat-padding-10"
                  (click)="goToListEnfant(enfant)"
          >Enregistrer
          </p-button>
          <p-button mat-flat-button severity="warning"
                  class="mat-padding-10"
                  (click)="goToListEnfants()"
          >Retour
          </p-button>
        </section>
      </div>

    </section>
  } @else {
    <section fxFlexFill class="centered-row">
      <p-button severity="danger"
              (click)="goToListEnfants()"
      >Retour
      </p-button>
    </section>
  }
}
