<div class="flex flex-column pt-3">
  <div class="flex align-items-center justify-content-left gap-2" style="color: cadetblue;">
    <!-- titre -->
    <span class="font-bold">
    Adresse
    </span>
  </div>
  <div class="flex flex-column">
    <div class="flex flex-row pt-4">
      <p-floatLabel>
        <input
          [ngModel]="adresse.rue"
          id="rue"
          pInputText/>
        <label for="rue">Rue </label>
      </p-floatLabel>
    </div>
    <div class="flex flex-row flex-wrap pt-4">
      <p-floatLabel>
        <input
          [ngModel]="adresse.codePostal"
          id="codePostal"
          pInputText/>
        <label for="codePostal">Code postal </label>
      </p-floatLabel>
      <p-floatLabel>
        <input
          [ngModel]="adresse.ville"
          id="ville"
          pInputText/>
        <label for="ville">Ville</label>
      </p-floatLabel>
    </div>
  </div>

</div>
