<p-panel class="no-border">
  <ng-template pTemplate="header" class="no-border">
    <div class="flex align-items-center" style="color: cadetblue;">
      <span class="font-bold">Adresse</span>
    </div>
  </ng-template>
  <div class="flex-column-p5">
    <div fxFlex>
      <label for="rue">Rue </label>
      <input
        pInputText
        id="rue"
        [ngModel]="adresse.rue"/>
    </div>
    <div>
      <div class="flex-row-p5">
        <div fxFlex="25%">
          <div fxFlex>
            <label for="codePostal">Code postal </label>
            <input
              pInputText
              id="codePostal"
              [ngModel]="adresse.codePostal"/>
          </div>
        </div>
        <div fxFlex>
          <div fxFlex style="padding-left: 10px">
            <label for="ville">Code postal </label>
            <input
              pInputText
              id="ville"
              [ngModel]="adresse.ville"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</p-panel>
