<div class="flex flex-column pt-3" [formGroup]="adresseForm" ngDefaultControl>
  <div class="flex align-items-center justify-content-left gap-2" style="color: cadetblue;">
    <!-- titre -->
    <span class="font-bold">
    Adresse
    </span>
  </div>
  <div class="field pt-4 pr-4">
      <p-floatLabel>
        <input
          formControlName="rue"
          id="rue"
          pInputText
          class="w-full"
        />
        <label for="rue">Rue </label>
      </p-floatLabel>
    </div>
  <div class="flex overflow-hidden">
    <div class="field w-full pt-4 pr-4">
      <p-floatLabel>
        <input
          formControlName="codePostal"
          id="codePostal"
          class="w-full"
          pInputText/>
        <label for="codePostal"
        >Code postal </label>
      </p-floatLabel>
    </div>
    <div class="field w-full pt-4 pr-4">
      <p-floatLabel>
        <input
          formControlName="ville"
          id="ville"
          class="w-full"
          pInputText/>
        <label for="ville"
        >Ville</label>
      </p-floatLabel>
    </div>
  </div>
</div>
