<mat-card class="mat-card-liste-enfants"
          enfantBorderCard="#673ab7">
  <mat-card-header>
    <!--<img [src]="getImage(item.genre)" mat-card-avatar alt="">-->
    <mat-card-title-group>
      <mat-card-title>Ajouter</mat-card-title>
      <mat-card-subtitle>Un Enfant</mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <mat-divider></mat-divider>
    <section flex fxFlexFill>
      <button mat-icon-button flex aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>person_add</mat-icon>
      </button>
    </section>
    <!--<mat-divider></mat-divider>
    <div class="anniversaire-input">
      <img class="anniversaire-icon" ngSrc="../../../../../assets/images/gateau-anniversaire.png" alt="" height="32" width="32">
      <mat-label class="plainInput mat-typography">
        {{ item.dateNaissance | date:"dd/MM/yyyy" }}
      </mat-label>
    </div>
    <div fxFlexFill fxLayout="row" style="padding: 10px 0 10px 0">
      <button mat-button color="primary"
              (click)="goToEditEnfant(item)"
      >Editer
      </button>
      <button mat-button color="primary"
              (click)="goToEditParents(item)"
      >Parents
      </button>
      <button mat-button color="primary"
              (click)="goToEditContacts(item)"
      >Contacts
      </button>
    </div>-->
  </mat-card-content>
</mat-card>

