/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.scss";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*primeNg*/

/*fin*/




.no-border {
  border: none;
}



.no-border-panel-card {
  box-shadow: none !important;
  padding-top: 1px;
}

.no-border-title-panel-card {
  display: flex !important;
  justify-content: center;
}

.border-title-panel-card-editor {
  display: flex !important;
  justify-content: left;
  color: cadetblue;
}


.border-title-panel-card {
  display: flex !important;
  justify-content: center;
}

.centered-row {
  display: flex; /* Optional, for Flexbox behavior */
  flex-direction: row;
  flex: 1;
  justify-content: center;
  gap: 10px; /* Définir le padding entre les éléments */
}

.flex-column-p5 {
  display: flex; /* Optional, for Flexbox behavior */
  flex-direction: column;
  flex: 1;
  gap: 5px; /* Définir le padding entre les éléments */
  padding: 5px 0 5px 0
}

.flex-row-p5 {
  display: flex; /* Optional, for Flexbox behavior */
  flex-direction: row;
  flex: 1;
  gap: 5px; /* Définir le padding entre les éléments */
  padding: 5px 0 5px 0
}
.flex-row {
  display: flex; /* Optional, for Flexbox behavior */
  flex-direction: row;
  flex: 1;
  gap: 10px; /* Définir le padding entre les éléments */
}

.mat-form-field { /* Changes the input styling to just about nothing so that button styling can take over */
  font-size: 1px !important;
}
.mat-padding-10 {
  padding: 10px !important;
}

.card-container-left {
  display: inline;
}

.title-page-liste-enfants {
  display: flex;
  justify-content: center;
  text-align: center;
}

.liste-enfants {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.card-container-right {
  display: inline;
  float: right;
}

.mat-divider {
  margin: 10px;
}

.mat-card-liste-enfants {
  margin: 10px;
  max-width: 400px;
  max-height: 400px;
  border-radius: 20px 20px 20px 20px / 10px 10px 10px 10px;
}

.anniversaire-icon {
  padding-right: 5px;
}


/* Custom Input */
.anniversaire-input {
  display: flex;
  align-items: center;
  color: darkgray;
}

.anniversaire-input * {
  outline: none;
  background: inherit;
  border: none;
}

