<mat-card class="no-border-panel">
  <mat-card-title class="title-panel">Adresse</mat-card-title>
  <mat-card-content>
    <div fxFlexFill fxLayout="column" style="padding: 10px 0 10px 0">
      <mat-form-field appearance="fill" fxFlex>
        <mat-label>Rue:</mat-label>
        <input [ngModel]="adresse.rue" matInput>
      </mat-form-field>
      <div>
        <div fxFlexFill fxLayout="row" style="padding: 10px 0 10px 0">
          <div fxFlex="25%">
            <mat-form-field appearance="fill" fxFlex>
              <mat-label>Code postal:</mat-label>
              <input [ngModel]="adresse.codePostal" matInput>
            </mat-form-field>
          </div>
          <div fxFlex>
            <mat-form-field appearance="fill" fxFlex style="padding-left: 10px">
              <mat-label>Ville:</mat-label>
              <input [ngModel]="adresse.ville" matInput>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
